<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Decriptar Imagem</title>
</head>
<body>
    <h1>Decriptar Imagem</h1>
    <form method="POST" enctype="multipart/form-data">
        <label for="imagem_saida">Imagem Encriptada:</label><br>
        <input type="file" id="imagem_saida" name="imagem_saida"><br>
        <label for="imagem_chave">Imagem Chave:</label><br>
        <input type="file" id="imagem_chave" name="imagem_chave"><br><br>
        <button type="submit">Decriptar</button>
    </form>
</body>
</html>
