<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Encriptar Imagem</title>
</head>
<body>
    <h1>Encriptar Imagem</h1>
    <form method="POST" enctype="multipart/form-data">
        <label for="texto">Texto:</label><br>
        <textarea id="texto" name="texto" rows="4" cols="50"></textarea><br>
        <label for="imagem_chave">Imagem Chave:</label><br>
        <input type="file" id="imagem_chave" name="imagem_chave"><br><br>
        <button type="submit">Encriptar</button>
    </form>
</body>
</html>
